* {
	box-sizing: border-box;
}

header {
	margin-bottom: 20px;
	background-color: #eebb44;
}

body {
	font-family: "Roboto", sans-serif;
}

.row {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.card {
	border: 1px solid;
	margin-bottom: 20px;
}

.card-image {
	width: 100%;
}

.card-info {
	padding: 20px;
}